<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Product Recommendation based on sentiment</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='style.css') }}" />
</head>

<body>

    <nav class="navbar" >
        <a class="navbar-brand" href="/">Product Recommendation System</a>
    </nav>

    <div class="user">
        <h1 style="text-align:center;">Top 5 Product Recommendations</h1>
        <h5 style="text-align:center;">Using Sentiment Analysis with User-Based Collaborative Filtering</h3>

        <!-- Main Input For Receiving Query to our ML model-->
        <form action="{{ url_for('search')}}" method="post" style="text-align:center;">
            <label for="username"><strong>Username</strong></label>
            <br />
            <input type="text" name="reviews_username" placeholder="Please Enter the name" required="required" />
            <br/><br/>
            <p>Example: ["rebecca","george","anne"]</p>
            <br/>

            <button class="btn btn-primary btn-block btn-large" type="search"><strong>Search</strong></button>
        </form>

        <br />
        <br />
        
        <p style = "text-transform:capitalize;"><strong>{{ username }}</strong></p>
        <p>{{ message }}</p>

        <ul>
            {%for i in results%}
                <li>{{i}}</li>
            {%endfor%}
        </ul>
    </div>
</body>
</html>